/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2017, 1:49:15 AM
    Author     : private
*/

/** Sprite de texte pour optimisation SEO **/ 
.toilinux_theme{
    background-color: red!important;
}
.toilinux_theme header#header {
    padding: 0;
    background: #f9f9f9;
    z-index: inherit;
    /** ---------- Mon Compte ---------- **/
    /* ************************************************************************************************
    SamD - 2016.04.01 - 26. Refonte du Thâ”œÂ¿me || 
        SCSS Ã”Ã¥Ã† Bloc Utilisateur du HEADER du Thâ”œÂ¿me `Film-pour-Vitre`
    ************************************************************************************************ */ }
.toilinux_theme header#header div.banner {
    background-color: transparent; }
.toilinux_theme header#header div.nav {
    position: absolute;
    width: 100%;
    background-color: transparent; }
.toilinux_theme header#header div.header-fpv {
    padding-bottom: 10px;
    background-color: #FFFFFF;
    /** ---------- Logo ---------- **/
    /** ---------- Râ”œÂ®assurance ---------- **/
    /* ************************************************************************************************
    SamD - 2016.04.01 - 26. Refonte du Thâ”œÂ¿me || 
      SCSS Ã”Ã¥Ã† Râ”œÂ®assurance HEADER du Thâ”œÂ¿me `Film-pour-Vitre`
    ************************************************************************************************ */
    /** *************************************************** **/ }
@media (max-width: 767px) {
    .toilinux_theme header#header div.header-fpv {
        padding-bottom: 4px; } }
.toilinux_theme header#header div.header-fpv > .container > .row, .toilinux_theme.index header#header div.header-fpv > #iview > .row, .toilinux_theme.index header#header #iview div.header-fpv > div.iview-directionNav > .row, .toilinux_theme.index #iview header#header div.header-fpv > div.iview-directionNav > .row, .toilinux_theme.header-lock header#header div.header-fpv > .cart_block_div_container > .row, .toilinux_theme header#header div.header-fpv #search_block_top div.header-fpv > #searchbox > .row, .toilinux_theme header#header #adtm_menu div.header-fpv > #adtm_menu_inner > .row, .toilinux_theme #adtm_menu header#header div.header-fpv > #adtm_menu_inner > .row, .toilinux_theme header#header #adtm_menu ul#menu li.li-niveau1 div.adtm_sub.header-fpv > table > .row, .toilinux_theme #adtm_menu ul#menu li.li-niveau1 header#header div.adtm_sub.header-fpv > table > .row, .toilinux_theme header#header #adtm_menu ul#menu li.li-niveau1 div.adtm_sub > table .adtm_column_wrap_td:nth-child(4):not(:last-child) div.header-fpv > .adtm_column_wrap > .row, .toilinux_theme #adtm_menu ul#menu li.li-niveau1 div.adtm_sub > table .adtm_column_wrap_td:nth-child(4):not(:last-child) header#header div.header-fpv > .adtm_column_wrap > .row {
    position: static; }
.toilinux_theme header#header div.header-fpv #header_logo {
    width: auto;
    height: 95px;
    padding-left: 5px;
    padding-top: 15px; }

@media (max-width: 480px) {
    .toilinux_theme header#header div.header-fpv #header_logo {
        padding-top: 25px; } }
@media (max-width: 767px) {
    .toilinux_theme header#header div.header-fpv #header_logo {
        text-align: center; } }
.toilinux_theme header#header div.header-fpv #header_reassurance {
    float: left;
    width: 100%;
    text-align: center; }
.toilinux_theme header#header div.header-fpv #header_reassurance a {
    display: inline-block;
    height: 38px;
    padding: 0; }
.toilinux_theme header#header div.header-fpv #header_reassurance a:nth-child(1) {
    margin-right: 33px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite {
    display: block;
    width: 112px;
    height: 30px;
    background-image: url("../img/header_reassurrance.png");
    background-repeat: no-repeat;
    background-size: auto 35px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-dime {
    background-position: -2.5px -5px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-dime:hover {
    background-position: -119.5px -5px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-pf {
    background-position: -236.5px -5px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-pf:hover {
    background-position: -353.5px -5px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-td {
    background-position: -470.5px -5px; }
.toilinux_theme header#header div.header-fpv #header_reassurance .sprite-icon-td:hover {
    background-position: -587.5px -5px; }
@media (max-width: 479px) {
    .toilinux_theme header#header div.header-fpv #header_reassurance {
        width: 150%;
        margin-left: -20%;
        margin-bottom: -10px;
        padding-top: 20px; }
    .toilinux_theme header#header div.header-fpv #header_reassurance a {
        margin-left: -25px;
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8); } }
@media (min-width: 480px) {
    .toilinux_theme header#header div.header-fpv #header_reassurance {
        margin-bottom: -15px;
        padding-top: 25px; } }
@media (min-width: 768px) {
    .toilinux_theme header#header div.header-fpv #header_reassurance {
        width: 408px;
        padding-top: 45px; } }
@media (min-width: 992px) {
    .toilinux_theme header#header div.header-fpv #header_reassurance {
        width: 230px;
        margin-bottom: -10px;
        padding-top: 15px; }
    .toilinux_theme header#header div.header-fpv #header_reassurance a {
        -moz-transform: scale(0.89);
        -ms-transform: scale(0.89);
        -webkit-transform: scale(0.89);
        transform: scale(0.89); } }
@media (min-width: 1200px) {
    .toilinux_theme header#header div.header-fpv #header_reassurance {
        width: 460px;
        padding-top: 40px; }
    .toilinux_theme header#header div.header-fpv #header_reassurance a {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); } }
.toilinux_theme header#header div.header-fpv #menu_reassurance {
    display: none; }
.toilinux_theme header#header #header_user_info {
    /*******************************************************************
      Ã”Ã¥Ã† BLOCK UserInfo 
    ********************************************************************/
    /*******************************************************************
      Ã”Ã¥Ã† LAYER UserInfo 
    ********************************************************************/
    /*******************************************************************
      Ã”Ã¥Ã† RESPONSIVE UserInfo 
    ********************************************************************/ }
.toilinux_theme header#header #header_user_info .header_block {
    float: right;
    min-width: 185px;
    max-width: 230px;
    padding-top: 25px;
    cursor: pointer; }
.toilinux_theme header#header #header_user_info .header_block div.user_img {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    padding: 5px;
    background-color: #0b69be; }
.toilinux_theme header#header #header_user_info .header_block div.user_img img {
    height: 34px; }
.toilinux_theme header#header #header_user_info .header_block div.user_txt {
    float: left; }
.toilinux_theme header#header #header_user_info .header_block div.user_txt span.user_title {
    float: left;
    overflow: hidden;
    max-width: 175px;
    padding: 5px 0 4px;
    color: #000000;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis; }
.toilinux_theme header#header #header_user_info .header_block div.user_txt > a {
    float: left;
    clear: both;
    font-size: 14px;
    font-weight: normal; }
.toilinux_theme header#header #header_user_info .layer_block {
    position: relative;
    float: right; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container {
    position: absolute;
    display: none;
    top: 70px;
    right: -270px;
    z-index: 10000; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content {
    width: 270px;
    padding: 10px;
    background: #ffffff;
    border: 2px solid #0b69be;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content span.title {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-family: "League Spartan", sans-serif;
    font-size: 13px;
    font-weight: normal; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 10px;
    background-color: #eef0f0;
    border: none; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer button {
    margin: 0;
    padding: 9px 15px;
    background: #ff5800;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    line-height: 18px;
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    display: block;
    width: 100%; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer button span {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border: none;
    background: none; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer button:hover {
    border-color: #eeeeee #aaaaaa #aaaaaa #eeeeee;
    opacity: .71; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer a.lost_password {
    color: #000000;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: block;
    width: 100%;
    margin-top: 3px;
    text-align: center; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .log_customer a.lost_password:hover {
    color: #ff5800;
    text-decoration: none; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .new_customer {
    margin-top: 20px; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .new_customer a.button.create_account {
    margin: 0;
    padding: 9px 15px;
    background: #ff5800;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    line-height: 18px;
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    display: block;
    background-color: #26324c; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .new_customer a.button.create_account span {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border: none;
    background: none; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content .new_customer a.button.create_account:hover {
    border-color: #eeeeee #aaaaaa #aaaaaa #eeeeee;
    opacity: .71; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action {
    margin: -10px; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li {
    border-top: 1px solid #eeeeee; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-family: "League Spartan", sans-serif;
    font-size: 13px;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li a:hover {
    background-color: #ff5800;
    color: #ffffff; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li a i {
    width: 21px;
    color: #c3c3c3;
    font-size: 14px; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li#my_account {
    border: none; }
.toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li#my_account a {
    padding: 15px 10px;
    text-transform: uppercase; }
.toilinux_theme header#header #header_user_info.active .layer_block > div {
    display: block !important;
    height: auto !important; }
@media (max-width: 991px) {
    .toilinux_theme header#header #header_user_info .header_block {
        position: relative;
        z-index: 10001;
        float: left;
        width: 33.33333%;
        min-width: 0;
        max-width: none;
        height: 0;
        margin: 0;
        margin-left: 33.33333%;
        padding: 0; }
    .toilinux_theme header#header #header_user_info .header_block > div {
        height: 67px;
        margin-top: 24px;
        text-align: center; }
    .toilinux_theme header#header #header_user_info .header_block > div div.user_img {
        width: 100%;
        height: 33px;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        background-color: transparent; }
    .toilinux_theme header#header #header_user_info .header_block > div div.user_img img {
        height: 23px; }
    .toilinux_theme header#header #header_user_info .header_block > div div.user_txt {
        width: 100%; }
    .toilinux_theme header#header #header_user_info .header_block > div div.user_txt span.user_title {
        width: 100%;
        max-width: none;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase; }
    .toilinux_theme header#header #header_user_info .header_block > div div.user_txt > a {
        display: none; }
    .toilinux_theme header#header #header_user_info:hover .header_block > div, .toilinux_theme header#header #header_user_info.active .header_block > div {
        background-color: #ff5800; }
    .toilinux_theme header#header #header_user_info .layer_block {
        z-index: 10001;
        width: 100%;
        text-align: center; }
    .toilinux_theme header#header #header_user_info .layer_block div.layer_container {
        top: 91px;
        right: 0;
        width: 100%; }
    .toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content {
        width: 33.33333%;
        min-width: 240px;
        margin: 0 auto;
        border-color: #ff5800; }
    .toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li a {
        padding: 15px 10px; }
    .toilinux_theme header#header #header_user_info .layer_block div.layer_container div.layer_content ul.customer_action li a i {
        display: none; } }
@media (max-width: 767px) {
    .toilinux_theme header#header #header_user_info .header_block > div {
        margin-top: 18px; }
    .toilinux_theme header#header #header_user_info .layer_block div.layer_container {
        top: 85px; } }

.toilinux_theme header#header div.header-fpv .cart_block_div_container {
    float: right;
    padding-right: 15px;
    /*******************************************************************
        Ã”Ã¥Ã† LAYER Cart 
    ********************************************************************/
    /*******************************************************************
        Ã”Ã¥Ã† RESPONSIVE Cart 
    ********************************************************************/ }