/* BLOCK #customreinsurance_block ******************************************************************** */
#order-opc.inOrderProcess #ass_global {
    display: none;
    float: left;
    width: 100%;
    margin: 10px 0 15px;
    text-align: center; 
}
#ass_global {
    margin: 0px;
    padding: 5px 0;
    z-index: 70;
    width: 100%;
    background-color: #f4f4f4; }
#ass_global > aside {
    margin: 4px 0 5px;
    position: relative;
    display: inline-block; }
#ass_global > aside a {
    display: block;
    height: 40px;
    line-height: 14px;
    color: #333333;
    text-align: left;
    text-decoration: none; }
#ass_global > aside a:hover, #ass_global > aside a:hover span.gris {
    color: #0b69be; }
#ass_global > aside a div {
    padding-top: 8px; }
#ass_global > aside a span.bleu {
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    text-transform: uppercase; }
#ass_global > aside a span.gris {
    color: #656565;
    font-size: 10px; }
#ass_global > aside:not(:last-child) a {
    border-right: 2px dotted #cccccc; }
#ass_global #ass_bloc1 a {
    width: 165px;
    margin-left: 5px;
    background: url("../../img//customreassurance/rea-1.jpg") no-repeat; }
#ass_global #ass_bloc1 span {
    margin-left: 42px; }
#ass_global #ass_bloc2 a {
    width: 170px;
    background: url("../../img//customreassurance/rea-2.jpg") no-repeat; }
#ass_global #ass_bloc2 span {
    margin-left: 45px; }
#ass_global #ass_bloc3 a {
    width: 195px;
    background: url("../../img//customreassurance/rea-3.jpg") no-repeat; }
#ass_global #ass_bloc3 span {
    margin-left: 50px; }
#ass_global #ass_bloc4 a {
    width: 205px;
    margin-left: 5px;
    background: url("../../img//customreassurance/rea-4.jpg") no-repeat; }
#ass_global #ass_bloc4 span {
    margin-left: 56px; }
#ass_global #ass_bloc5 a {
    width: 170px;
    margin-left: 5px;
    background: url("../../img//customreassurance/rea-5.jpg") no-repeat; }
#ass_global #ass_bloc5 span {
    margin-left: 45px; }
@media (max-width: 991px) {
    #ass_global > aside a {
        width: 215px !important;
        border: none !important; } }