/* BLOCK #customreinsurance_block ******************************************************************** */
#customreinsurance_block {background:url(../blockcustomreinsurance/img/bg_customreinsurance_block.gif) repeat-x 0 0 #c3c7cb}
#customreinsurance_block li {
	float:left;
	padding:15px 10px !important;
	font-size:13px;
	color:#333;
	text-transform:uppercase;
	text-shadow:0 1px 0 #fff
}
#customreinsurance_block .width1 li {width:960px}
#customreinsurance_block .width2 li {width:470px}
#customreinsurance_block .width3 li {width:305px}
#customreinsurance_block .width4 li {width:224px}
#customreinsurance_block .width5 li {width:175px}
#customreinsurance_block li img{
	float:left;
	margin-right:10px;
}
#customreinsurance_block li span {
	float:left;
	padding-top:12px;
	width:65%;
}